$white: #ffffff;
$blue: #409eff;
$deep-blue: #2d91f5;
$black: #000000;
$gray: #909399;
$red: #f56c6c;
$green: #67c23a;
$yellow: #E6A23C;

.pager {
	position: absolute;
	// width: calc(100% - 408px);
	// width: 100%;
	width: 100%;
}
